// Place all the styles related to the MyJourney controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.journeytitle{
  font-family: Algerian;
  font-size : 30px;
  text-decoration: underline;
  margin-bottom: 50px;
  text-align: left;
}